<%- include('../header') -%>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
<%- include('../navbar')%>

<main>
<% if (typeof success_confirmation == 'string' && success_confirmation != '') {%>
<div class="msg-flash-success"><%= success_confirmation %></div>
<% } %>
 <form action="/reset" method="POST" >
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <div class="userForm">
    <h2>Enter Your new Password :</h2>
    <p>
    Please complete the from belllow.
    </p>
    <hr/>
          <div class="userControl">
            <label class="userLabel">Password:</label>
            <input class="inputText  <%if(typeof passwordError == 'string' && passwordError){%>border-error<%}%>" type="password" name="password"  />
            <% if(typeof passwordError == 'string' && passwordError){ %>
                <div class="msg-error"><%= passwordError%></div>
            <%} %>
        </div>
        <div class="userControl">
            <label class="userLabel">Confirm Password:</label>
            <input class="inputText  <%if(typeof password_confirmError == 'string' && password_confirmError){%>border-error<%}%>" type="password" name="password_confirm"  />
            <% if(typeof password_confirmError == 'string' && password_confirmError){ %>
                <div class="msg-error"><%= password_confirmError%></div>
            <%} %>
        </div>
        <div class="userControl">
            <button>Reset</button>
</form>
</main>


<%- include('../footer') -%>