<%- include('../header') -%>
<link rel="stylesheet" href="/css/mytable.css">
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/select-css.css">
</head>
<body>
<%- include('../navbar')%>

<main>
  <caption><h2>Select Your Sons</h2></caption>
<div>
<% if (typeof error == 'string' && error != '') {%>
<div class="msg-error"><%= error %></div>
<% } %>
<% if (typeof success == 'string' && success != '') {%>
<div class="msg-flash-success"><%= success %></div>
<% } %>
<% if (students.length > 0) {%>
<form action="/select/sons" method="POST">
<input type="hidden" name="_csrf" value="<%= csrfToken%>">
<caption>Students:</caption>
<select class="select-css" multiple name="students">
  <% students.forEach(function(student){ %>
    <option value="<%=student._id%>"><%=student.first_name%> <%=student.last_name%></option>
  <% }); %>

</select>
 <div class="userControl">
<button>Submit</button>
</div>
</form>
<%}%>
</div>
<main>
  <table>
  <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Amount</th>
	  <th scope="col">Payed</th>
    </tr>
  </thead>
   <% if (sons.length > 0) {%>
  <tbody>
    <% sons.forEach(function(son){ %>
    <tr>
      <td data-label="Student" class="note-actions"><a  href="/student/notes/<%= son.idStudent%>"><%= son.student_name%></a></td>
      <td data-label="Teacher"><%= son.amount%></td>
      <td data-label="Subject"><%if(son.payed == true){%>Yes<%}else{%>No<%}%></td>
    </tr>

   <% }); %>
  </tbody>
  <%}else{%>
  <h2>No Sons Found!</h2>
  <%}%>
  </table>
</main>


<%- include('../footer') -%>